<%- include('../shared/includes/head', {pageTitle : 'Log in'}) %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/toggle-password.js" defer></script>
<script src="/scripts/google.js" defer></script>
</head>
<body>
    <main>
        <div>
          <h1><a href="/">A<span id="jj">jj</span>ir</a></h1>
          <p class="description">Not every thing <br> needs to be Owned</p>
        </div>
        <form action="/login" method="POST" class="forms">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <% if(inputData.errorMessage){ %>
                <section class="alert">
                  <h2>Invalid input</h2>
                  <p><%= inputData.errorMessage %></p>
                </section>
                <% } %>
            <p>
                <label for="email" class="shadow">Email</label>
                <input type="text" id="email" name="email" value="<%= inputData.email %>" required/>
            </p>
            <p id="pass-login">
                <label for="password" id="pass-label" class="shadow">Password 
                    <span class="input-group-addon" role="button" title="veiw password" id="passBtn">
                    <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                  </span>
                  </label>
                <input type="password" id="password" name="password" value="<%= inputData.password %>" required/>
                </p>
            <p class="check">
                <label for="remember-password" id="mark">
                    <input type="checkbox" id="remember-password" name="remember-password">
                    Remember me 
                </label>
                <a href="" class="link">Forgot Password?</a>
            </p>
            <button class="btn">Sign in</button>
            <p class="shadow">Or</p>
            <button class="google-btn">
                <div id="icon"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></div>
                Log in with Google
            </button>
            <p>Don't have an account?  <a href="/signup" class="link">Sign up</a></p>
        </form>
    </main>
    <%- include('../shared/includes/footer') %>
</body>
</html>