<header>
    <nav>
      <ul>
        <section class="nav-items"><li><h1><a href="/">A<span id="jj">jj</span>ir</a></h1></li></section>

        <section class="nav-items" id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="#">Categories</a></li>
        </section>

        <section class="nav-items">
          <li>
            <% if(!locals.isAuth){ %>
              <a class="btn" href="/login">Login</a>
              <a class="btn" href="/signup">Register</a>
            <% } %>
            <% if(locals.isAuth){ %>
              <div id="auth">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f5be3f" class="bi bi-bell" viewBox="0 0 16 16" id="notifications">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                </svg>
                <div class="notifi-box" id="box">
                  <% for (const notification of locals.notifications) { %>
                    <div class="notifi-item">
                      <div class="text">
                        <h4><%= notification.title %></h4>
                        <p><%= notification.content %></p>
                        <time datetime="<%= notification.history %>">
                          <%= notification.history.toLocaleDateString("en-US", {
                          weekday: "long",
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                          }) %>
                        </time>
                      </div> 
                    </div>
                  <% } %>
                </div> 
                <% if (!(pageTitle === 'Profile')) { %>
                  <form action="/profile/<%= id %>" method="GET" id="profile"><button class="btn">Profile <img src="/icons/profile.svg" alt="profile"></button></form>
                <% } %>
                <form action="/logout" method="POST"><button class="btn" id="logout">Logout</button></form>
              </div>            
            <% } %>
          </li>
        </section>
      </ul>
    </nav>
  </header>