<article class="product-item">
  <div id="image">
    <p>Available</p>
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
  </div>
  <div class="product-item-content">
    <h2><%= product.name %></h2>
    <div class="product-item-prices">
      <ul>
        <li>
          <h3>
            <%= product.price %> EGP/hr
          </h3>
        </li>
        <li>
          <p>50<br><span>Day</span></p>
        </li>
        <li>
          <p>150<br><span>Week</span></p>
        </li>
        <li>
          <p>400<br><span>Month</span></p>
        </li>
      </ul>      
    </div>
  </div>
</article>
<!-- <a class="btn btn-alt" href="/products/<%= product.id %>">View & Edit</a> -->
<!-- <button class="btn btn-alt" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button> -->

<!-- <a class="btn btn-alt" href="/products/<%= product.id %>">View Details</a> -->