<%- include('../shared/includes/head', {pageTitle : 'All products'}) %>
<link rel="stylesheet" href="/styles/navigation.css">
<link rel="stylesheet" href="/styles/all-products.css">
<link rel="stylesheet" href="/styles/notifications.css">
<script src="/scripts/filter-search.js" defer></script>
<script src="/scripts/notification.js" defer></script>
</head>
<body>
  <header>
    <%- include('../shared/includes/search-nav', {id: locals.uid}) %>
  </header>
  <main>
    <!-- <a href="/products/new" class="btn">Add</a> -->
    <div id="filters-items">
      <aside>
        <ul>
          <li id="categories">
            <h3>Categories</h3>
            <ul>
              <li>Tools</li>
              <li>Cars</li>
              <li>Houses</li>
              <li>Electronics</li>
              <li>Books</li>
            </ul>
          </li>
          <li id="status">
            <h3>Status</h3>
            <ul>
              <li>
                <label for="available">
                  <input type="checkbox" id="available" name="available" class="availability"> Available
                </label>
              </li>
              <li>
                <label for="rented">
                  <input type="checkbox" id="rented" name="rented" class="availability"> Rented
                </label>
              </li>
            </ul>
          </li>
          <li id="price">
            <h3>Price / Day</h3>
            <ul>
              <li>Under 100</li>
              <li>100 - 500</li>
              <li>500 - 1000</li>
              <li>Over 1000</li>
            </ul>
          </li>
        </ul>
      </aside>
      <ul id="products-grid">
        <% for (const product of products){ %>
             <li>
              <form action="/products/<%= product.id %>" method="get">
                <button>
                  <%- include('../shared/includes/product-item' , { product: product }) %>
                </button>
              </form>
            </li>
        <% } %>
      </ul>
    </div>
  </main>
  <%- include('../shared/includes/footer') %>
</body>
</html>